<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <div id="logo" *ngIf="!auth">
        <img [routerLink]="['../home']" src="../../assets/icon/icon.png">
      </div>
      <div id="logo" *ngIf="auth">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons> 
      </div>
      <div id="login" *ngIf="!auth">
        <img [routerLink]="['../login']" src="../../assets/Login.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<div id="back" *ngIf="auth">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="arrow-round-back" color="primary"></ion-icon>
    </ion-fab-button>  
  </ion-fab>
</div>

<ion-content>
  <app-card-catalog *ngFor="let republic of republicsArray" [republic] = "republic"></app-card-catalog>
</ion-content>