<ion-content fullscreen>
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button [routerLink]="['../login']">
		  <ion-icon name="arrow-round-back" color="primary"></ion-icon>
		</ion-fab-button>  
	</ion-fab>

	<div class="container">

		<div id="logo">
			<img src="../../assets/logo.png">
		</div>

		<div>
			<form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
				<ion-list lines="none">
					<ion-item [class.invalid]="registerForm.controls.name.invalid && registerForm.controls.name.touched">
						<ion-label position="floating"> Nome completo * </ion-label>
						<ion-input type="text" name="name" formControlName="name"></ion-input>
						<p *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched"> Mínimo de 3 caracteres </p>
					</ion-item>

					<ion-item [class.invalid]="registerForm.controls.email.invalid && registerForm.controls.email.touched">
						<ion-label position="floating"> E-mail * </ion-label>
						<ion-input type="text" name="email" formControlName="email"></ion-input>
						<p *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched"> Formato inválido </p>
					</ion-item>

					<ion-item [class.invalid]="registerForm.controls.password.invalid && registerForm.controls.password.touched">
						<ion-label position="floating"> Senha * </ion-label>
						<ion-input type="password" name="password" formControlName="password"></ion-input>
						<p *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched"> Mínimo de 6 caracteres </p>
					</ion-item>

					<ion-item [class.invalid]="registerForm.controls.check_password.invalid && registerForm.controls.check_password.touched">
						<ion-label position="floating"> Confirmação de senha * </ion-label>
						<ion-input type="password" name="check_password" formControlName="check_password"
						(keyup)="checkPassword(registerForm)"></ion-input>
					</ion-item>

					<div *ngIf="passwordError" class="msg">
						<ion-icon name="warning"></ion-icon>
						<p> As senhas não correspondem!!! </p>
					</div>

					<ion-item *ngIf="inputPhone" [class.invalid]="registerForm.controls.telephone.invalid && registerForm.controls.telephone.touched">
						<ion-label position="floating"> Telefone * </ion-label>
						<ion-input minlength="15" type="text" name="telephone" formControlName="telephone" [brmasker]="{phone: true}"></ion-input>
					</ion-item>

					<ion-item>
						<ion-radio-group class="checkbox" formControlName="is_locator">
							<ion-label [class.invalid]="registerForm.controls.is_locator.invalid && registerForm.controls.is_locator.touched"> Você é: * </ion-label>
							<div class="options">
								<ion-item (click)="unsetInputPhone()">
									<ion-label> Inquilino </ion-label>
									<ion-radio slot="start" value="0"></ion-radio>
								</ion-item>
								<ion-item (click)="setInputPhone()">
									<ion-label> Locador </ion-label>
									<ion-radio slot="start" value="1"></ion-radio>
								</ion-item>
							</div>
						</ion-radio-group>
					</ion-item>

				</ion-list>

				<div class="button">
					<ion-button type="submit" shape="round" [disabled]="registerForm.invalid"> Cadastrar </ion-button>
				</div>
			</form>
		</div>
	</div>
</ion-content>