/* HEADER */
ion-toolbar{
  --background: #E3D9CF;
  padding-bottom: 2%;
}

.toolbar{
  --background: #E3D9CF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ITENS DO HEADER */

#logo {
  display: flex;
  width: 60px;
  height: 50px;
  padding: 0 8px;

}

#logo .img-logo{
  display: flex;
  justify-content: flex-end;
}

#logo img{
  width: auto;
  height: 100%;
}

.slogan{
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 0;
  color: #717171;
  font-weight: bold;
}

.slogan span{
  color:  #7D0D23;
  font-weight: bold;
}
  